/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #ddd;
  height: 100%;
}

.product {
  margin: 15px 0;
  background-color: #fff;
  border: 1px solid #666;
  padding: 10px 25px;
  font-size: 125%;
}

.product a {
  display: block;
  margin: 20px 0;
}

.product-list {
  margin: auto;
}

.product-list .product {
  height: 200px;
  overflow: hidden;
  font-size: 100%;
}

footer {
  font-size: large;
  width: 100%;
  padding: 10px;
  background-color: #3A3232;
  box-sizing: border-box;
  vertical-align: middle;
  position: fixed;
  bottom: 0;
  left: 5%;
  margin-left: -100px;
}

table {
  width: 100%;
}

tr td {
  color: white;
  padding: 10px;
}

.select-currency {
  text-align: center;
}

.selector {
  text-size: 15;
  color: blue;
}

.rights {
  margin: 0px 40px;
  text-align: center;
}
