%h1 Check out our products!

.row.product-list
  - @products.each do |product|
    %article.product
      %h2= product.name
      %p= product.description
      %strong
        = product.price
        EUR

      = link_to 'Show more', product

